body {
  margin: 0;
  font-family: Arial;
  background: #081c15;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0b2e1e;
}

nav a {
  margin: 0 10px;
  color: #22c55e;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 120px 20px;
  animation: fadeUp 1s ease;
}

.hero h1 {
  font-size: 50px;
  color: #22c55e;
}

button {
  padding: 12px 20px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.status-card {
  text-align: center;
  padding: 50px;
}

/* animations */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page {
  text-align: center;
  padding: 80px 20px;
}

.card {
  background: #0b2e1e;
  padding: 25px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

ul {
  text-align: left;
  line-height: 1.8;
}
